
<h1>Cash-list component</h1>
<tr *ngFor="let element of cashList">
  <td>{{element.status}}</td>
  <td>{{element.amount}}</td>
</tr>
<!--div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Liste de vos entrées</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Créer une nouvelle entrée </h3>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Afficher vos entrées </h3>
      </div>
      <div class="card-body">
        <p>Ici futur tableau</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Graphique</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Vos dernières sorties</h3>
      </div>
      <div class="card-body">
        <p>Ici futur tableau</p>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Créer une nouvelle entrée</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Formulaire de création d'une nouvelle entrée </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="cashForm" (ngSubmit)="onSubmitForm()">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field>
                  <input class="form-control" formControlName="date" matInput [matDatepicker]="picker" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label>Montant</label>
                <input type="text" formControlName="amount" class="form-control" placeholder="montant" value="" ngModel required>
              </div>
              <div class="form-group">
                <label>Libellé</label>
                <input type="text" formControlName="label" class="form-control" placeholder="libelle" ngModel required>
              </div>
              <div class="form-group">
                <label>Type</label>
                <select class="form-control" formControlName="type" required>
                  <option></option>
                  <option>Virement</option>
                  <option>Dépôt</option>
                  <option>Chèque</option>
                </select>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label>Entrée récurrente ?</label>
                </div>
                <div class="col-md-6">
                  <mat-checkbox formControlName="recurrence" class="form-control"></mat-checkbox>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button (click)="add(cash)" class="btn btn-fill btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div-->
