<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Liste de vos entrées enregistrées </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="upCashForm" (ngSubmit)="updateForm()">
          <table class="table tablesorter">
            <thead class="text-primary">
            <tr>
              <th class="text-center">
                Date
              </th>
              <th class="text-center">
                Label
              </th>
              <th class="text-center">
                Montant
              </th>
              <th class="text-center">
                Type
              </th>
              <th class="text-center">
                Statut
              </th>
              <th class="text-center">
                Commentaire
              </th>
              <th class="text-center">
                Récurrence
              </th>
              <th class="text-center">
                Supprimer
              </th>
            </tr>
            </thead>
            <tr *ngFor="let item of cashList">
              <td class="text-center" style="cursor: pointer">
                <div class="form-group" *ngIf="editMode && item.id == docId && input =='date'">
                  <input type="date" class="form-control" formControlName="date_up" value="{{(item.date.seconds*1000) | date : 'dd/MM/yyyy' }}" ngModel/>
                  <span (click)="updateForm(item.id, 'date_up', 'date')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'date')" *ngIf="item.id != docId || input != 'date'  || readMode">
                  {{(item.date.seconds*1000) | date : 'dd/MM/yyyy' }}
                  <input type="date" class="form-control" formControlName="date_up" value="{{(item.date.seconds*1000) | date : 'dd/MM/yyyy' }}" ngModel hidden />
                </div>
              <td class="text-center" style="cursor: pointer">
                <div *ngIf="editMode && item.id == docId && input =='label_up'">
                  <input type="text" formControlName="label_up" class="form-control" placeholder="libelle" id="label_up"  value="{{item.label}}" ngModel>
                  <span (click)="updateForm(item.id, 'label_up', 'label')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'label_up')" *ngIf="item.id != docId || input != 'label_up' || readMode">
                  <input type="text" formControlName="label_up" class="form-control" placeholder="libelle" id="label_up"  value="{{item.label}}" ngModel hidden />
                  {{item.label}}
                </div>
              </td>
              <td class="text-center" style="cursor: pointer">
                <div *ngIf="editMode && item.id == docId && input =='amount_up'">
                  <input type="text" formControlName="amount_up" class="form-control" placeholder="montant" id="amount_up" value="{{item.amount}}" ngModel>
                  <span (click)="updateForm(item.id, 'amount_up', 'amount')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'amount_up')" *ngIf="item.id != docId || input != 'amount_up' || readMode">
                  {{item.amount}}
                </div>
              </td>
              <td class="text-center" style="cursor: pointer">
                <div *ngIf="editMode && item.id == docId && input =='modality_up'">
                  <select formControlName="modality_up" id="modality_up" required>
                    <option *ngFor="let option of options" [ngValue]="option"> {{option.name}}</option>
                  </select>
                  <span (click)="updateForm(item.id, 'modality_up', 'modality')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'modality_up')" *ngIf="item.id != docId || input != 'modality_up' || readMode">
                  {{item.modality.name}}
                </div>
              </td>
              <td class="text-center" style="cursor: pointer">
                <div *ngIf="editMode && item.id == docId && input =='status_up'">
                  <input type="text" formControlName="status_up" class="form-control" placeholder="statut" id="status_up" value="{{item.status}}" ngModel>
                  <span (click)="updateForm(item.id, 'status_up', 'status')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'status_up')" *ngIf="item.id != docId || input != 'status_up' || readMode">
                  {{item.status}}
                </div>
              </td>
              <td  class="text-center" style="cursor: pointer">
                <div *ngIf="editMode && item.id == docId && input =='comment_up'">
                  <input type="text" formControlName="comment_up" class="form-control" placeholder="commentaire" id="comment_up" value="{{item.comment}}" ngModel>
                  <span (click)="updateForm(item.id, 'comment_up', 'comment')"><i class="fas fa-check" style="color: #73ffe4"></i></span>
                </div>
                <div (click)="showInput(item.id, 'comment_up')" *ngIf="!editMode && item.id != docId || input != 'comment_up' || readMode">
                  {{item.comment}}
                </div>
              </td>
              <td class="text-center" style="cursor: pointer">
                <i class="fas fa-redo" style="color: #DE4ECC;"></i>
              </td>
              <td (click)="delete(item.id)" class="text-center" style="cursor:pointer;">
                <i class="fas fa-trash-alt"></i>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Créer une nouvelle entrée</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Formulaire de création d'une nouvelle entrée </h3>
      </div>
      <div class="card-body">
        <form [formGroup]="cashForm" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field>
                  <input class="form-control" formControlName="date" matInput [matDatepicker]="picker" required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label for="amount">Montant</label>
                <input type="text" formControlName="amount" class="form-control" placeholder="montant" id="amount" value="" ngModel>
              </div>
              <div class="form-group">
                <label>Libellé</label>
                <input type="text" formControlName="label" class="form-control" placeholder="libelle" ngModel required>
              </div>
              <div class="form-group">
                <label for="modality">Type</label>
                <select formControlName="modality" id="modality" required>
                  <option *ngFor="let option of options" [ngValue]="option"> {{option.name}}</option>
                </select>
              </div>
              <!-- Todo: gérer la récurrence -->
              <!--div class="form-group">
                <div class="col-md-6">
                  <label for="recurrence">Entrée récurrente ?</label>
                </div>
                <div class="col-md-6">
                  <mat-checkbox formControlName="recurrence" id="recurrence" class="form-control"></mat-checkbox>
                </div>
              </div-->
              <div class="form-group">
                <label for="comment">Commentaire</label>
                <textarea formControlName="comment" class="form-control" id="comment" ngModel></textarea>
              </div>
            </div>
          </div>
          <div class="card-footer text-center">
            <button [disabled]="cashForm.invalid" class="btn btn-fill btn-primary">Save</button>
          </div>
        </form>
        <div *ngIf="success">
          New entry saved !
        </div>
      </div>
    </div>
  </div>
</div>
