<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    My $avings
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script>
</head>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Liste de vos entrées</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Créer une nouvelle entrée </h3>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Afficher vos entrées </h3>
      </div>
      <div class="card-body">
        <p>Ici futur tableau</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Graphique</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Vos dernières sorties</h3>
      </div>
      <div class="card-body">
        <p>Ici futur tableau</p>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <h5 class="card-category">Créer une nouvelle entrée</h5>
        <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Formulaire de création d'une nouvelle entrée </h3>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="form-group">
                <mat-form-field>
                  <input class="form-control" name="date" matInput [matDatepicker]="picker" ngModel>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form-group">
                <label>Montant</label>
                <input type="text" class="form-control" placeholder="montant" value="">
              </div>
              <div class="form-group">
                <label>Libellé</label>
                <input type="text" class="form-control" placeholder="libelle">
              </div>
              <div class="form-group">
                <label>Type</label>
                <select class="form-control">
                  <option></option>
                  <option>Virement</option>
                  <option>Dépôt</option>
                  <option>Chèque</option>
                </select>
              </div>
              <div class="form-group">
                <div class="col-md-6">
                  <label>Entrée récurrente ?</label>
                </div>
                <div class="col-md-6">
                  <mat-checkbox></mat-checkbox>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-fill btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>
